<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.michal.quiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_medal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_medal"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".QuizActivity">

            <!-- Main activity, handling game -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity for users settings -->
        <activity android:name=".SettingsActivity"
            android:parentActivityName=".QuizActivity"/>
    </application>

</manifest>